**/.DS_Store
**/.node_modules
java-api/LMSHAdmin/src/main/resources/application.properties
java-api/LMSHBorrower/src/main/resources/application.properties
terraform
users-service/.production.env
api-gateway/.production.env
stripe-service
